#container
{
	margin: 0 auto;
	background-color: #f2f4f1;
}

h2
{
	font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
	font-size: 1.250em;
	color: #171C25;
	letter-spacing: 0.4em;
}

h3
{
	font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #171C25;
	letter-spacing: 0.05em;
}

p
{
	font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
	font-size: 0.750em;
}


.portContentFillReece
{
	background-color:#171C25;
	height: 80px;
}

.portContentFillReece h2
{
	color: #f2f4f1;
	letter-spacing: 0;
}

.portContentFillJay
{
	background-color: #741E19;
	height: 80px;
}

#headerBlue
{
	height: 55px;
	background-color: #171C25;
	padding: 0;
}

#headerLogo
{
	display: block; /*need to do this to center*/
	max-width: 100px;
	margin: 0 auto;
}

#headerLogo img
{
	padding: 0 0 0 0;
	margin-top: 13px;
}

.headerRed
{
	height: 12px;
	background-color: #741E19;
	margin-bottom: 70px;
	box-shadow: 0px 4px 20px grey;
}

#heroLogo
{
	margin-bottom: 63px;
	max-width: 600px;
}


#showcaseSmall img
{
	min-height: 200px;
	min-width: 200px;
	max-width: 600px;
	margin-top: 43px;
}

#showcaseLarge
{
	min-height: 234px;
}

#portfolioOne
{
	margin-bottom: 100px;
	margin: 0 auto;
	background-color: #f2f4f1;
}

#whoAreThey
{ 
	display: block;
	margin: 0 auto;
	margin-top: 55px;
}

#reece
{
	margin-top: 58px;
	margin-bottom: 53px;
}

#reecePort
{
	margin-bottom: 86px;
}

#jay
{
	margin-bottom: 53px;
}

#footer
{
	height: 25px;
	background-color: #171C25;
	margin-top: 35px;
}

#tagline
{
	display: block;
	margin: 0 auto;
	margin-top: 86px;
	margin-bottom: 78px;
}

.portfolio
{
	float: left;
	margin-bottom: 45px;
}

.video
{
	padding: 0 0 0 0;
}

#digiTattoo
{
	display: block;
	margin: 0 auto;
	max-width: 300px;
}

.lightbox {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.95);
}

.close-lightbox {
	position: absolute;
	right: 12px;
	top: 12px;
	font-family: arial, helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.show-lightbox { display: block; }

	

